---
import { menuLinks, siteConfig } from "@/site.config";

const year = new Date().getFullYear();
---

<footer
	class="mt-auto mb-4 flex w-full flex-col items-start justify-start gap-y-2 pt-20 pb-2 text-left align-top font-semibold text-gray-600 sm:text-xs dark:text-gray-400"
>
	<nav
		aria-labelledby="footer_links"
		class="flex flex-wrap gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-gray-500"
	>
		<p id="footer_links" class="sr-only">More on this site</p>
		{
			menuLinks.map((link, index) => (
				<a
					class={`hover:text-global-text px-4 py-2 hover:underline sm:py-0 ${index === 0 ? "ps-0" : ""}`}
					href={link.path}
				>
					{link.title}
				</a>
			))
		}
	</nav>

	<div class="me-0">
		&copy; {siteConfig.author} - Danielz.co.uk {year}. All rights reserved.{" "}
		<!-- {year}.<span class="inline-block">&nbsp;🚀&nbsp;{siteConfig.title}</span> -->
	</div>
</footer>
